# This is an example .env file for the wedding planner backend. Copy this file to .env and fill in the values as needed.

# ## Docker platform to use for building and running the containers. This is useful if you are running on a different architecture than the default (e.g., ARM vs AMD64).
# ## Example: DOCKER_PLATFORM=linux/amd64
DOCKER_PLATFORM =
